<%-include("partials/head")  %>
<body>
    <%-include("partials/header")  %>
    <main>
        <section id="foro" class="m-3 pt-3">
            <div id="publis" class="container m-3 pt-3">
                <h1>A Foro</h1>
            </div>
            <form id="editarForm" action="/edit" method="post"> <!-- PREGUNTAR POR ACTION Y METHOD-->
                <div class="row mb-3">
                    <div class="col col-md-6 mb-3">
                        <label for="titulo" class="form-label">Título:<span class="requerido"> *</span></label>
                        <input type="text" class="form-control" name="titulo" id="titulo" value="<%= post.titulo %>" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm mb-3">
                        <label for="url" class="form-label">URL de la imagen de encabezado:<span class="requerido"> *</span></label>
                        <input type="text" class="form-control" name="url" id="url" value="<%= post.url_imagen %>" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-6 col-lg-3 mb-3">
                        <label for="fecha" class="form-label">Fecha:<span class="requerido"> *</span></label>
                        <input type="date" class="form-control" name="fecha" id="fecha" value="<%= post.fecha_creacion %>" required>
                    </div>
                    <input type="hidden" id="idPost" name="idPost" value="<%= post.id %>">
                </div>
                <div class="row">
                    <div class="col-sm mb-3">
                        <label for="contenido" class="form-label">Contenido:<span class="requerido"> *</span></label>
                        <textarea class="form-control" name="contenido" id="contenido" rows=10 required><%= post.contenido %></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm mb-3">
                        <button type="submit" class="submit btn btn-primary btn-lg my-3" id="enviar">Guardar</button>
                        <button type="button" class="btn btn-secondary m-3" id="cancelar">Cancelar</button>
                    </div>
                </div>
            </form>
        </section>
    </main>
    <script src="/js/funciones.js" type="module"></script>
    <script src="/js/editar.js" type="module"></script>
</body>
</html>
