<%-include("partials/head")  %>
<body>
    <%-include("partials/header")  %>
    <main>
        <section id="foro" class="mt-3 p-2">
            <div id="publis" class="container mt-3 pt-4">
                <h1>A Foro</h1>
                <p class="lead">Un foro multitemático, donde el aforo que se tiene es bastante dudoso.</p>
            </div>
        </section>
    </main>
    <script src="/js/funciones.js" type="module"></script>
    <script src="/js/home.js" type="module"></script>
</body>
</html>
