<%-include("partials/head")  %>
<body>
    <%-include("partials/header")  %>
    <main>
        <div class="container pt-5 mb-3">
            <form id="publicarForm" action="/post" method="post">
                <div class="row mb-3">
                    <div class="col col-md-6 mb-3">
                        <label for="titulo" class="form-label">Título:<span class="requerido"> *</span></label>
                        <input type="text" class="form-control" name="titulo" id="titulo" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm mb-3">
                        <label for="url" class="form-label">URL de la imagen de encabezado:<span class="requerido"> *</span></label>
                        <input type="text" class="form-control" name="url" id="url" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col col-md-6 col-lg-3 mb-3">
                        <label for="fecha" class="form-label">Fecha:<span class="requerido"> *</span></label>
                        <input type="date" class="form-control" name="fecha" id="fecha" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm mb-3">
                        <label for="contenido" class="form-label">Contenido:<span class="requerido"> *</span></label>
                        <textarea class="form-control" name="contenido" id="contenido" rows=10 required></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm mb-3">
                        <button type="submit" class="submit btn btn-primary btn-lg my-3" id="enviar">Publicar</button>
                        <button type="button" class="btn btn-secondary m-3" id="cancelar">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <script src="/js/funciones.js" type="module"></script>
    <script src="/js/publicar.js" type="module"></script>
</body>
