body {
    padding-top: 57px;
    background-color: white;
}
.requerido {
	color: #c01c28;
}
.pub {
    background-color: rgb(235, 245, 255);
    box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.logo {
    width: 6rem;
}
