<header>
    <nav class="navbar navbar-expand fixed-top bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a href="/" class="navbar-brand"><img src="assets/img/logo-aforo.webp" alt="logo" class="logo"></a>
            <div class="navbar-collapse navbar-nav">
                <a href="/#foro" class="nav-link">A Foro</a>
                <a href="/post" class="nav-link">Nueva publicación</a>
            </div>
        </div>
    </nav>
</header>
